<%= render 'shared/page-infos', tag: 'Journalisation', sub_tag: 'Paiements de gains', title: 'Historique Paiements de gains' %>
<div class="card card-body border-0 shadow w-100 mb-3">
  <%= render 'shared/filters-row', filter_list: [] %>
</div>
<div class="card card-body border-0 shadow table-wrapper table-responsive w-100">
  <table class="table table-hover" id="bet-payments-datatable">
    <thead class="thead-light">
      <tr>
        <th class="border-gray-200">Identifiant</th>
        <th class="border-gray-200">N° Pari</th>
        <th class="border-gray-200">Montant</th>
        <th class="border-gray-200">N° Téléphone</th>
        <th class="border-gray-200">Date</th>
        <th class="border-gray-200">Reférence de paiement</th>
        <th class="border-gray-200">Détails</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<% content_for :page_javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {
      var datesFilter = {"date_search": "no", "from": '', "to": ''};
      var minDate = '';
      var maxDate = '';
      var exportData = {'model': 'bet-payments', filter_data: {}};
      var data = { "model": 'bet-payments', filter_data: {}, ...datesFilter};
      window.fetchDatatable("#bet-payments-datatable", data);
  
      $('#filter-search').click(function(){
        minDate = document.getElementById('date-field-start').value;
        maxDate = document.getElementById('date-field-end').value;

        if(minDate !== "" && maxDate !== "")
        {
          datesFilter = {"date_search": "yes", "from": minDate, "to": maxDate};
          data = { ...data, ...datesFilter};
        }

        window.fetchDatatable("#bet-payments-datatable", data);
      });

      $('#export-btn').click(function() {
        minDate = document.getElementById('date-field-start').value;
        maxDate = document.getElementById('date-field-end').value;

        if(minDate !== "" && maxDate !== "")
        {
          exportData['from'] = minDate;
          exportData['to'] = maxDate;
        }
        window.downloadData(exportData);
      });
    });
  </script>
<% end %>