<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
        <li class="breadcrumb-item">
          <a href="#">
            <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
            </svg>
          </a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Journalisation</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Prises de pari</li>
      </ol>
    </nav>
    <h2 class="h4">Historique Prises de pari</h2>
    <p class="mb-0">Back-Office LOTO GUINÉE-BISSAU</p>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group ms-2 ms-lg-3">
      <button type="button" class="btn btn-sm btn-outline-gray-600">Exporter</button>
    </div>
  </div>
</div>
<div class="card card-body border-0 shadow table-wrapper table-responsive w-100">
  <table class="table table-hover" id="placed-bets-datatable">
    <thead class="thead-light">
      <tr>
        <th class="border-gray-200">Identifiant</th>
        <th class="border-gray-200">N° Téléphone</th>
        <th class="border-gray-200">Numéros</th>
        <th class="border-gray-200">Date</th>
        <th class="border-gray-200">Mise</th>
        <th class="border-gray-200">Gain</th>
        <th class="border-gray-200">Détails</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<% content_for :page_javascript do %>
  <script type="text/javascript">
    function showDetailsColumn(id= "") {
      return `<div class="d-block" style="margin-top: -1rem"> <a href="#" class="d-flex align-items-center">
        <div class="icon-shape icon-sm">
          <svg class="text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 12a2 2 0 100-4 2 2 0 000 4z"></path>
            <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd"></path>
          </svg>
          
        </div>
        <span> Voir Détails<span>
      </a></div>`;
    }
    $(document).ready(function() {
      $('#placed-bets-datatable').DataTable({
          responsivePriority: -1,
          language: {
            processing: "Traitement en cours...",
            search: "Rechercher&nbsp;:",
            lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
            info:
              "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            infoEmpty:
              "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
            infoFiltered:
              "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            infoPostFix: "",
            loadingRecords: "Chargement en cours...",
            zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
            emptyTable: "Aucune donn&eacute;e disponible dans le tableau",
            decimal: ",",
            thousands: " ",
            paginate: {
              first: "Premier",
              previous: "Pr&eacute;c&eacute;dent",
              next: "Suivant",
              last: "Dernier",
            },
            aria: {
              sortAscending:
                ": activer pour trier la colonne par ordre croissant",
              sortDescending:
                ": activer pour trier la colonne par ordre d&eacute;croissant",
            },
          },
          paginate: true,
          pageLength: 10,
          lengthMenu: [10, 20, 50, 100],
          processing: true,
          order: [[0, "desc"]],
          serverSide: true,
          ajax: {
            url: "/datatables/placed-bets",
            type: "GET",
          },
          columns: [
            {
              data: "sender_cb",
              className: "all",
              width: "10%",
            },
            {
              data: "msisdn",
              orderable: false,
              searchable: true,
            },
            {
              data: null,
              orderable: false,
              searchable: false,
              className: "all",
              width: "10%",
              render(data, type, row, meta) {
                return row.draws.map(num => `<span class="badge bg-primary"> ${num} </span>`);
              },
            },
            {
              data: "bet_date",
              className: "all",
              orderable: true,
              searchable: false,
              width: "5%",
            },
            {
              data: null,
              orderable: true,
              searchable: false,
              className: "all",
              width: "5%",
              render(data, type, row, meta) {
                return new Intl.NumberFormat().format(row.bet_amount);
              },
            },
            {
              data: null,
              orderable: true,
              searchable: false,
              className: "all",
              width: "5%",
              render(data, type, row, meta) {
                return new Intl.NumberFormat().format(row.winning_amount);
              },
            },
            {
            data: null,
            orderable: false,
            searchable: false,
            className: "all",
            width: "5%",
            render(data, type, row, meta) {
              return showDetailsColumn(row.sender_cb);
            },
          }],
        });
    });
  </script>
<% end %>