<%= render 'shared/page-infos', tag: 'Journalisation', sub_tag: 'Prises de pari', title: 'Historique Prises de pari' %>
<div class="card card-body border-0 shadow w-100 mb-3">
  <%= render 'shared/filters-row', filter_list: [['1', 'Validé'], ['2', 'Échèc'], ['3', 'Gagnant'], ['4', 'Perdant']] %>
</div>

<div class="card card-body border-0 shadow table-wrapper table-responsive w-100">
  <table class="table table-hover" id="placed-bets-datatable">
    <thead class="thead-light">
      <tr>
        <th class="border-gray-200">Identifiant</th>
        <th class="border-gray-200">N° Téléphone</th>
        <th class="border-gray-200">Numéros</th>
        <th class="border-gray-200">Date</th>
        <th class="border-gray-200">Mise</th>
        <th class="border-gray-200">Statut</th>
        <th class="border-gray-200">Détails</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<% content_for :page_javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {
      var datesFilter = {"date_search": "no", "from": '', "to": ''};
      var filterData = {};
      var statusFilter = "";
      var minDate = "";
      var maxDate = "";
      var exportData = {'model': 'placed-bets'};
      var data = { "model": 'placed-bets', ...datesFilter};
      data["filter_data"] = filterData;
      window.fetchDatatable("#placed-bets-datatable", data);
  
      $('#filter-search').click(function(){
        statusFilter = document.getElementById('status-filter').value;
        minDate = document.getElementById('date-field-start').value;
        maxDate = document.getElementById('date-field-end').value;

        if(minDate !== "" && maxDate !== "")
        {
          datesFilter = {"date_search": "yes", "from": minDate, "to": maxDate};
          data = { ...data, ...datesFilter};
        }

        filterData = statusFilter !== "" ? {"placed_bet_status": statusFilter} : {};
        data["filter_data"] = filterData;
        window.fetchDatatable("#placed-bets-datatable", data);
      });

      $('#export-btn').click(function() {
        statusFilter = document.getElementById('status-filter').value;
        minDate = document.getElementById('date-field-start').value;
        maxDate = document.getElementById('date-field-end').value;

        if(minDate !== "" && maxDate !== "")
        {
          exportData['from'] = minDate;
          exportData['to'] = maxDate;
        }

        filterData = statusFilter !== "" ? {"placed_bet_status": statusFilter} : {};
        exportData['filter_data'] = filterData;
        window.downloadData(exportData);
      })
    });
  </script>
<% end %>