<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
        <li class="breadcrumb-item">
          <a href="#">
            <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
            </svg>
          </a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Journalisation</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Tickets gagnants</li>
      </ol>
    </nav>
    <h2 class="h4">Historique Tickets gagnants</h2>
    <p class="mb-0">Back-Office LOTO GUINÉE-BISSAU</p>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group ms-2 ms-lg-3">
      <button type="button" class="btn btn-sm btn-outline-gray-600">Exporter</button>
    </div>
  </div>
</div>
<div class="card card-body border-0 shadow w-100 mb-3">
  <%= render 'shared/filters-row', filter_list: [['1', 'Payé'], ['0', 'En attente de paiement']] %>
</div>
<div class="card card-body border-0 shadow table-wrapper table-responsive w-100">
  <table class="table table-hover" id="winning-bets-datatable">
    <thead class="thead-light">
      <tr>
        <th class="border-gray-200">Identifiant</th>
        <th class="border-gray-200">Numéros</th>
        <th class="border-gray-200">Date</th>
        <th class="border-gray-200">Mise</th>
        <th class="border-gray-200">Gain</th>
        <th class="border-gray-200">Statut</th>
        <th class="border-gray-200">Détails</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<% content_for :page_javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {
      var datesFilter = {"date_search": "no", "from": '', "to": ''};
      var filterData = {"placed_bet_status": "3"};
      var data = { "model": 'winning-bets', ...datesFilter};
      data["filter_data"] = filterData;
      window.fetchDatatable("#winning-bets-datatable", data);
  
      $('#filter-search').click(function(){
        var statusFilter = document.getElementById('status-filter').value;
        var minDate = document.getElementById('date-field-start').value;
        var maxDate = document.getElementById('date-field-end').value;

        if(minDate !== "" && maxDate !== "")
        {
          datesFilter = {"date_search": "yes", "from": minDate, "to": maxDate};
          data = { ...data, ...datesFilter};
        }

        filterData = statusFilter !== "" ? {"placed_bet_status": "3", "paid_bet_status": statusFilter} : {"placed_bet_status": "3"};
        data["filter_data"] = filterData;
        window.fetchDatatable("#winning-bets-datatable", data);
      });
    });
  </script>
<% end %>