<p>Salut <%= @user.email %> !</p>
<p>Une demande de réinitialisation du mot de passe de votre compte a été initiée. Veuillez cliquer sur ce lien changer votre mot de passe.</p>
<p><a href="<%= @url %>" target="_blank">Changer mon mot de passe </a> ou cliquer sur le lien ci-dessous:</p>
<br/>
<p> <%= @url %> </p>
<br/>
<p>Si vous n'êtes pas à l'origine de cette requête, veuillez ignorer ce mail.</p>
<p>Votre mot de passe restera inchangé.</p>