<p>Salut <%= @resource.email %>!</p>

<p>Une demande de réinitialisation du mot de passe de votre compte a été initiée. Veuillez cliquer sur ce lien changer votre mot de passe.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette requête, veuillez ignorer ce mail.</p>
<p>Votre mot de passe restera inchangé.</p>